<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info mt-5">MENSURE</h1>
    <p class="display-4 d-none d-sm-block">Lorem ipsum dolor sit amet consectetur.</p>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

    

    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, placeat! Facere hic ullam deleniti blanditiis possimus est commodi quis suscipit ad repudiandae non dolorem perspiciatis quos deserunt optio, quaerat ratione pariatur illo..</p>
    <p><strong> Start Your Journey Here:</strong></p>
    <a href="/student/studentclick" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Start Your Journey</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>