*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blanchedalmond;
}
.img-container{
    width: 1000%;
    height: auto;
    padding: 10 0;
    size: 100rem;
}
.container{
    display: flex;
    border: 3px solid black;
    border-radius: 20px;
    /* background-color: rgb(44, 199, 199);     */
    background-color: rgb(12, 11, 10);    
    margin: 2rem 24rem;
    padding: 0rem 2rem 2rem 2rem;
    flex-direction: column;
    height: 90vh;
    font-family: 'Nunito', sans-serif;
}

.txt-container{ 
    text-align: center;
    padding: 0;
    width: auto;
    color: white;
    background-color: rgb(219, 41, 71);
    border: 2px solid rgb(241, 234, 234);
    border-radius: 10px;
    margin: 0.8rem 0;
    font-size: 30px;
    font-weight: 700;
    font-family: "Sofia", sans-serif;
}

.best{
    background-color: yellow;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    border-radius: 10px;
    font-family: "Audiowide", sans-serif;;
}